<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388677064497-v2iicjbvog4ahtu4mds1lhm6r67j8kt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388677064497-v2iicjbvog4ahtu4mds1lhm6r67j8kt6</string>
	<key>API_KEY</key>
	<string>AIzaSyDPjhE-1-19owfyLum-QO4NjEARdefrAvs</string>
	<key>GCM_SENDER_ID</key>
	<string>388677064497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNBoilerplate</string>
	<key>PROJECT_ID</key>
	<string>rnboilerplate-4915f</string>
	<key>STORAGE_BUCKET</key>
	<string>rnboilerplate-4915f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388677064497:ios:b0f1b285b64a3a0c808210</string>
</dict>
</plist>